<p id="notice"><%= notice %></p>

<h1>Profile Actions</h1>

<table>
  <thead>
    <tr>
      <th>Profile</th>
      <th>Action</th>
      <th>Description</th>
      <th>Group visibility</th>
      <th>Connection visibility</th>
      <th>User visibility</th>
      <th>Public visibility</th>
      <th>Rating</th>
      <th>Status</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_actions.each do |profile_action| %>
      <tr>
        <td><%= profile_action.profile %></td>
        <td><%= profile_action.action %></td>
        <td><%= profile_action.description %></td>
        <td><%= profile_action.group_visibility %></td>
        <td><%= profile_action.connection_visibility %></td>
        <td><%= profile_action.users_visibility %></td>
        <td><%= profile_action.public_visibility %></td>
        <td><%= profile_action.rating %></td>
        <td><%= profile_action.status %></td>
        <td><%= profile_action.created_by %></td>
        <td><%= profile_action.updated_by %></td>
        <td><%= link_to 'Show', profile_action %></td>
        <td><%= link_to 'Edit', edit_profile_action_path(profile_action) %></td>
        <td><%= link_to 'Destroy', profile_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile Action', new_profile_action_path %>
