<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @profile_action.profile %>
</p>

<p>
  <strong>Action:</strong>
  <%= @profile_action.action %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile_action.description %>
</p>

<p>
  <strong>Group visibility:</strong>
  <%= @profile_action.group_visibility %>
</p>

<p>
  <strong>Profile visibility:</strong>
  <%= @profile_action.connection_visibility %>
</p>

<p>
  <strong>Connection visibility:</strong>
  <%= @profile_action.connection_visibility %>
</p>

<p>
  <strong>User visibility:</strong>
  <%= @profile_action.users_visibility %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @profile_action.rating %>
</p>


<p>
  <strong>Status:</strong>
  <%= @profile_action.status %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @profile_action.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @profile_action.updated_by %>
</p>

<%= link_to 'Edit', edit_profile_action_path(@profile_action) %> |
<%= link_to 'Back', profile_actions_path %>
