<%= form_for(vote_option) do |f| %>
  <% if vote_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote_option.errors.count, "error") %> prohibited this vote_option from being saved:</h2>

      <ul>
      <% vote_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :widget_style_id %>
    <%= f.text_field :widget_style_id %>
  </div>

  <div class="field">
    <%= f.label :created_by %>
    <%= f.number_field :created_by %>
  </div>

  <div class="field">
    <%= f.label :updated_by %>
    <%= f.number_field :updated_by %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
