<div id="main-container" class="container">
  <div class="row">
    <div class="col-md-12">
        <img src="..\wds.jpg" alt="Wet Dog Software" height="50%" width="50%">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">    
      <div class="row">
          <h2>
            <strong>Profile name:</strong>
            <%= link_to (@profile.profile_name.present? ? @profile.profile_name : 'Please create a username'), profile_path(id:@profile.id) %>
          </h2>        
        </div>
        <div class="row">      
          <h2>
            <strong>Status:</strong>
            <%= @profile.status %>
          </h2>
        </div>
        <div class="row">
          <h2>
            <strong>Member since:</strong>
            <%= @profile.created_at %>
          </h2>
        </div>
        <div class="row">
          <h2>
            <strong>Tagline:</strong>
            <%= @profile.tagline %>
          </h2>
        </div>
        <div class="row">
            <%= render "shared/links" %>
        </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">    
      Footer1
    </div>
  </div>
</div>



