<%= form_for(widget_style) do |f| %>
  <% if widget_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(widget_style.errors.count, "error") %> prohibited this widget_style from being saved:</h2>

      <ul>
      <% widget_style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :style_data %>
    <%= f.text_field :style_data %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :created_by %>
    <%= f.number_field :created_by %>
  </div>

  <div class="field">
    <%= f.label :updated_by %>
    <%= f.number_field :updated_by %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
