<p id="notice"><%= notice %></p>

<h1>Widget Styles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Style data</th>
      <th>Status</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @widget_styles.each do |widget_style| %>
      <tr>
        <td><%= widget_style.name %></td>
        <td><%= widget_style.description %></td>
        <td><%= widget_style.style_data %></td>
        <td><%= widget_style.status %></td>
        <td><%= widget_style.created_by %></td>
        <td><%= widget_style.updated_by %></td>
        <td><%= link_to 'Show', widget_style %></td>
        <td><%= link_to 'Edit', edit_widget_style_path(widget_style) %></td>
        <td><%= link_to 'Destroy', widget_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Widget Style', new_widget_style_path %>
